# Summary Statistics

These are numbers that tell you about your datasets

In [2]:
import pandas as pd
import numpy as np


pitches = pd.read_csv("/data/workspace_files/stocks_pitches.csv")
pitches.head()

,Name,Associate,Ticker,Pitch Date,Pitch Price,Curr,Today Price,Price %,Total Divs,Currency ?,Total %
0,ABB Ltd,Matt Smith,ABB,06/03/2018,22.80,CHF,21.86,-0.04,1.623,1.02,0.03
1,Alibaba Group Holding Ltd,Anna Erofeeva,BABA,05/12/2017,177.62,USD,186.78,0.05,0.000,1.04,0.05
2,Apple Inc,Darren Wyy,AAPL,16/01/2018,176.30,USD,261.78,0.48,5.860,1.06,0.55
3,Arista Networks Inc,Xu Jiawei,ANET,14/11/2017,225.50,USD,194.49,-0.14,0.000,1.02,-0.14
4,BHP Billiton Ltd,Matt Smith,BHP,05/12/2017,42.10,USD,50.84,0.21,7.060,1.04,0.39

In [3]:
pitches["Price %"].mean()

-0.0364

In [4]:
pitches["Price %"].min()

-0.88

In [5]:
pitches["Price %"].max()

0.83

In [6]:
pitches["Price %"].var()

0.17796566666666666

In [7]:
pitches["Price %"].std()

0.4218597713300791

Also .sum(), .quantile(), .mode(). Note .min(), .max() works on dates too. 

We can use .agg() to make custom calcs. It can be used on multiple columns too

In [8]:
def pct30(column): 
    return column.quantile(0.3)

pitches["Price %"].agg(pct30)

-0.16400000000000003

.agg() can take in multiple calcs too

In [9]:
def pct40(column): 
    return column.quantile(0.4)

pitches[["Price %", "Total %"]].agg([pct30,pct40])

,Price %,Total %
pct30,-0.164,-0.134
pct40,-0.128,-0.110

Pandas has methods for taking in cumulative sums too .cumsum(), .cummax(), .cummin(), .cumprod(). These will return the whole column. Be wary of nan values that can impact these

In [10]:
pitches["Price %"].cumsum()

# Counting in Pandas

Counting is used to summarise numerical data. .value_counts() is used we can add sort=True to sort what we get returned, or normalize=True to get the % of total

In [11]:
pitches["Curr"].value_counts()

In [12]:
pitches["Curr"].value_counts(normalize=True)

We can use drop_duplicates to remove duplicate values

In [13]:
pitches.drop_duplicates(subset="Associate ")

,Name,Associate,Ticker,Pitch Date,Pitch Price,Curr,Today Price,Price %,Total Divs,Currency ?,Total %
0,ABB Ltd,Matt Smith,ABB,06/03/2018,22.80,CHF,21.86,-0.04,1.623,1.02,0.03
1,Alibaba Group Holding Ltd,Anna Erofeeva,BABA,05/12/2017,177.62,USD,186.78,0.05,0.000,1.04,0.05
2,Apple Inc,Darren Wyy,AAPL,16/01/2018,176.30,USD,261.78,0.48,5.860,1.06,0.55
3,Arista Networks Inc,Xu Jiawei,ANET,14/11/2017,225.50,USD,194.49,-0.14,0.000,1.02,-0.14
5,BlackRock Inc,Marcus McLaney,BLK,27/02/2018,563.97,USD,485.00,-0.14,21.920,1.07,-0.11
6,Domino's Pizza Inc,Dev Singh,DPZ,12/12/2017,180.96,USD,285.76,0.58,4.610,1.03,0.62
7,Estee Lauder Companies Inc,Kelvin Fang,EL,20/02/2018,139.65,USD,193.18,0.38,2.860,1.08,0.44
8,Foot Locker Inc,Arjun Kandola,FL,06/03/2018,42.10,USD,40.25,-0.04,2.520,1.07,0.02
11,Intertek Group plc,Joshua Zeng,ITRK.L,23/01/2018,5178.00,GBX,5504.00,0.06,181.100,1.00,0.10
13,Marriott International Inc,Jerry Kim,MAR,20/02/2018,140.44,USD,136.25,-0.03,3.410,1.08,-0.01
15,On The Beach Group plc,Edmund Xia,OTB.L,30/01/2018,492.00,GBX,434.60,-0.12,4.600,1.00,-0.11
18,Ryanair Holdings,Charlotte Pinder,RYA.L,16/01/2018,16.53,EUR,13.69,-0.17,0.000,0.97,-0.17
19,Siemens AG,Amos Jaupi,SIEGY,12/12/2017,116.42,EUR,63.24,-0.46,4.329,0.97,-0.41
20,St Microelectronics,Adam Barbarowicz,STM,06/02/2018,18.34,EUR,23.87,0.30,0.420,0.97,0.31

# Grouped Summary Statistics

Summary statistics can be used to compare differences in groups i.e. we can already do this individually but we can do this more easily by using .groupby(). Note the difference brackets we use here

We can combine this with .agg() to get more powerful combos of calcs

Note for the mean we need to use numpy when doing calcs in .agg()

In [14]:
print("USD mean:", pitches[pitches["Curr"] == "USD"]["Total %"].mean())
print("EUR mean:", pitches[pitches["Curr"] == "EUR"]["Total %"].mean())
print("GBX mean:", pitches[pitches["Curr"] == "GBX"]["Total %"].mean())

USD mean: 0.005263157894736841
EUR mean: -0.08999999999999998
GBX mean: -0.0049999999999999975

In [15]:
pitches.groupby("Curr")["Total %"].mean()

In [16]:
pitches.groupby("Curr")["Total %"].agg([min, max, sum, np.mean])

,min,max,sum,mean
Curr,,,,
CHF,0.03,0.03,0.03,0.030000
EUR,-0.41,0.31,-0.27,-0.090000
GBX,-0.11,0.10,-0.01,-0.005000
USD,-0.94,0.87,0.10,0.005263

In [17]:
pitches.groupby(["Associate ", "Curr"])["Total %"].agg([min, max, np.mean])

# Pivot Tables

These are another way to calculate values, similar to pivot tables in excel. By default it will take the mean value for each group. We can change that by passing aggfunc= to the call. 

We can group on two variables by passing columns= to the call

In [18]:
pitches.pivot_table(values="Total %", index="Curr")

,Total %
Curr,
CHF,0.030000
EUR,-0.090000
GBX,-0.005000
USD,0.005263

In [19]:
pitches.pivot_table(values="Total %", index="Curr", aggfunc=np.max)

,Total %
Curr,
CHF,0.03
EUR,0.31
GBX,0.10
USD,0.87

In [20]:
pitches.pivot_table(values="Total %", index="Curr", aggfunc=[np.max, np.min])

,amax,amin
,Total %,Total %
Curr,,
CHF,0.03,0.03
EUR,0.31,-0.41
GBX,0.10,-0.11
USD,0.87,-0.94

In [21]:
pitches.pivot_table(values="Total %", index="Curr", columns="Associate ", aggfunc=[np.max, np.min], fill_value=0, margins=True)