# Creating & Visualizing DataFrames

Matplotlib works well with pandas we can use it to make histograms very easily

See the chapter on matplotlib for further details on this

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pp


pitches = pd.read_csv("/data/workspace_files/stocks_pitches.csv")
pitches.head()

,Name,Associate,Ticker,Pitch Date,Pitch Price,Curr,Today Price,Price %,Total Divs,Currency ?,Total %
0,ABB Ltd,Matt Smith,ABB,06/03/2018,22.80,CHF,21.86,-0.04,1.623,1.02,0.03
1,Alibaba Group Holding Ltd,Anna Erofeeva,BABA,05/12/2017,177.62,USD,186.78,0.05,0.000,1.04,0.05
2,Apple Inc,Darren Wyy,AAPL,16/01/2018,176.30,USD,261.78,0.48,5.860,1.06,0.55
3,Arista Networks Inc,Xu Jiawei,ANET,14/11/2017,225.50,USD,194.49,-0.14,0.000,1.02,-0.14
4,BHP Billiton Ltd,Matt Smith,BHP,05/12/2017,42.10,USD,50.84,0.21,7.060,1.04,0.39

In [3]:
pitches["Total %"].hist()

#pp.show(())

In [4]:
pitches["Total %"].hist(bins=30)

# Missing Values

Some data may be missing values as we know, these will be displayed as NaN

isna() method is used to detect NaNs. It gives us a boolean value for each data point 

We can chain this with .any() which is more useful when working with big data. .sum() counts the number missing too

In [5]:
portfolio = pd.read_csv("/data/workspace_files/investment_portfolio.csv")
portfolio_indexed = portfolio.set_index("Product")

portfolio_indexed

,Symbol/ISIN,Amount,Closing,Local value,Value in GBP
Product,,,,,
ADVANCED MICRO DEVICES,US0079031078,2,95.12,USD 190.24,155.14
AIRBUS SE,NL0000235190,3,106.38,EUR 319.14,270.96
ALPHABET INC. - CLASS C,US02079K1079,1,2330.31,USD 2330.31,1900.38
AMAZON.COM INC. - COM,US0231351067,1,2261.10,USD 2261.10,1843.93
BAE SYS.,GB0002634946,20,741.20,GBX 14824.00,148.24
...,...,...,...,...,...
UNILEVER,GB00B10RZP78,3,3747.00,GBX 11241.00,112.41
VOLTA FIN,GG00B1GHHH78,600,5.90,EUR 3540.00,3005.60
WALT DISNEY COMPANY (T,US2546871060,3,107.33,USD 321.99,262.58
XTRACKERS MSCI SINGAPORE UCITS ...,LU0659578842,1200,1.27,EUR 1524.48,1294.35
XYLEM INC. COMMON STOC,US98419M1009,4,83.91,USD 335.64,273.72

In [6]:
options = portfolio_indexed.loc["ES 3000 P 17JUN22":"ES 4000 P 19DEC25"]

options.isna()

,Symbol/ISIN,Amount,Closing,Local value,Value in GBP
Product,,,,,
ES 3000 P 17JUN22,True,False,False,False,False
ES 3200 P 16DEC22,True,False,False,False,False
ES 3400 P 18DEC26,True,False,False,False,False
ES 3400 P 19DEC25,True,False,False,False,False
ES 3600 P 17JUN22,True,False,False,False,False
ES 3800 P 16DEC22,True,False,False,False,False
ES 4000 P 18DEC26,True,False,False,False,False
ES 4000 P 19DEC25,True,False,False,False,False

In [7]:
options.isna().any()

In [8]:
options.isna().sum()

We can drop the NaN values with .dropna()

Or fill them in with a with .fillna()

In [9]:
options.dropna()

,Symbol/ISIN,Amount,Closing,Local value,Value in GBP
Product,,,,,

In [10]:
options.fillna("No ISIN")

,Symbol/ISIN,Amount,Closing,Local value,Value in GBP
Product,,,,,
ES 3000 P 17JUN22,No ISIN,1,3.90,USD 195.00,159.02
ES 3200 P 16DEC22,No ISIN,1,89.25,USD 4462.50,3639.18
ES 3400 P 18DEC26,No ISIN,1,357.00,USD 17850.00,14556.74
ES 3400 P 19DEC25,No ISIN,1,334.50,USD 16725.00,13639.30
ES 3600 P 17JUN22,No ISIN,-1,27.25,USD -1362.50,-1111.12
ES 3800 P 16DEC22,No ISIN,-1,218.75,USD -10937.50,-8919.57
ES 4000 P 18DEC26,No ISIN,-1,553.25,USD -27662.50,-22558.87
ES 4000 P 19DEC25,No ISIN,-1,526.50,USD -26325.00,-21468.13

# Reading and Importing Data

Pandas data frames can be created from a list or dictionary

In [14]:
my_dict = {"key1": "Value", "key2":2}

In [20]:
df = pd.DataFrame.from_dict(my_dict, orient="index")

df

,0
key1,Value
key2,2

However, it's not often you are going to be doing this. Mainly you are going to be using csv files 

We load the data frame with .read_csv() 
And store it as a csv with .to_csv()

In [21]:
pd.read_csv("/data/workspace_files/stocks_pitches.csv")

,Name,Associate,Ticker,Pitch Date,Pitch Price,Curr,Today Price,Price %,Total Divs,Currency ?,Total %
0,ABB Ltd,Matt Smith,ABB,06/03/2018,22.80,CHF,21.86,-0.04,1.623,1.02,0.03
1,Alibaba Group Holding Ltd,Anna Erofeeva,BABA,05/12/2017,177.62,USD,186.78,0.05,0.000,1.04,0.05
2,Apple Inc,Darren Wyy,AAPL,16/01/2018,176.30,USD,261.78,0.48,5.860,1.06,0.55
3,Arista Networks Inc,Xu Jiawei,ANET,14/11/2017,225.50,USD,194.49,-0.14,0.000,1.02,-0.14
4,BHP Billiton Ltd,Matt Smith,BHP,05/12/2017,42.10,USD,50.84,0.21,7.060,1.04,0.39
5,BlackRock Inc,Marcus McLaney,BLK,27/02/2018,563.97,USD,485.00,-0.14,21.920,1.07,-0.11
6,Domino's Pizza Inc,Dev Singh,DPZ,12/12/2017,180.96,USD,285.76,0.58,4.610,1.03,0.62
7,Estee Lauder Companies Inc,Kelvin Fang,EL,20/02/2018,139.65,USD,193.18,0.38,2.860,1.08,0.44
8,Foot Locker Inc,Arjun Kandola,FL,06/03/2018,42.10,USD,40.25,-0.04,2.520,1.07,0.02
9,General Motors Co,Matt Smith,GM,30/01/2018,42.41,USD,35.33,-0.17,2.660,1.08,-0.11
10,Honeywell International Inc.,Darren Wyy,HON,13/03/2018,145.90,USD,176.79,0.21,5.670,1.07,0.27
11,Intertek Group plc,Joshua Zeng,ITRK.L,23/01/2018,5178.00,GBX,5504.00,0.06,181.100,1.00,0.10
12,Kraft Heinz Co,Joshua Zeng,KHC,19/03/2018,67.23,USD,30.54,-0.55,3.475,1.07,-0.53
13,Marriott International Inc,Jerry Kim,MAR,20/02/2018,140.44,USD,136.25,-0.03,3.410,1.08,-0.01
14,Mastercard Inc,Kelvin Fang,MA,28/11/2017,154.77,USD,282.57,0.83,2.320,1.03,0.87
15,On The Beach Group plc,Edmund Xia,OTB.L,30/01/2018,492.00,GBX,434.60,-0.12,4.600,1.00,-0.11
16,Overstock,Anna Erofeeva,OSTK,27/02/2018,64.40,USD,7.57,-0.88,0.000,1.07,-0.94
17,Royal Carribean Cruises Ltd,Marcus McLaney,RCL,09/01/2018,123.18,USD,119.13,-0.03,4.780,1.05,0.01
18,Ryanair Holdings,Charlotte Pinder,RYA.L,16/01/2018,16.53,EUR,13.69,-0.17,0.000,0.97,-0.17
19,Siemens AG,Amos Jaupi,SIEGY,12/12/2017,116.42,EUR,63.24,-0.46,4.329,0.97,-0.41
20,St Microelectronics,Adam Barbarowicz,STM,06/02/2018,18.34,EUR,23.87,0.30,0.420,0.97,0.31
21,Starbucks Corp,Dev Singh,SBUX,28/11/2017,55.91,USD,83.02,0.48,2.810,1.03,0.55
22,Supernus Pharmaceuticals Inc,Arjun Kandola,SUPN,23/01/2018,44.25,USD,21.76,-0.51,0.000,1.08,-0.55
23,US Concrete Inc,Charlotte Pinder,USCR,13/03/2018,65.20,USD,39.96,-0.39,0.000,1.07,-0.41
24,US Silica Holdings Inc,Dev Singh,SLCA,19/03/2018,25.83,USD,4.55,-0.82,0.375,1.07,-0.87